{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react(/.*)?$",
    "^next(-auth)?(/.*)?$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/(.*)$",
    "^[./]",
    "^[^./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
