{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "importOrder": ["^next/(.*)$", "^@/components$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
